<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main_layout.html}">
<head>
</head>
<body>
<div class="container" layout:fragment="content">


    <div class="row">
        <div class="col-6 mx-auto">
            <form method="post" th:action="@{/register}" th:object="${DBUserRegisterDto}">

                <div class="mb-3 mt-3">
                    <div class="input-group">
                        <input type="text" id="userName" th:field="*{userName}" class="form-control"
                               th:classappend="${#fields.hasErrors('userName')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                               aria-describedby="usernameFeedback" placeholder="Username">
                        <div id="usernameFeedback"
                             th:classappend="${#fields.hasErrors('userName')} ? 'invalid-feedback'"
                             th:errors="*{userName}"></div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <input type="email" id="email" th:field="*{email}" class="form-control"
                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                               aria-describedby="emailFeedback" placeholder="Mail">
                        <div id="emailFeedback"
                             th:classappend="${#fields.hasErrors('email')} ? 'invalid-feedback'"
                             th:errors="*{email}"></div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-group">
                        <input type="password" id="password" th:field="*{password}" class="form-control"
                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"
                               aria-describedby="passwordFeedback" placeholder="Mot de passe">
                        <div id="passwordFeedback"
                             th:classappend="${#fields.hasErrors('password')} ? 'invalid-feedback'"
                             th:errors="*{password}"></div>
                    </div>
                </div>

                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary">S'inscrire</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>