<!doctype html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/user_layout.html}" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row mt-3" th:if="${param.success}">
        <div class="col-6 mx-auto">
            <div class="alert alert-success text-center" role="alert">
                Transaction réalisée avec succès.
            </div>
        </div>
    </div>

    <div class="row mt-3" th:if="${savingTransactionError}">
        <div class="col-6 mx-auto">
            <div class="alert alert-danger text-center" role="alert" th:text="${savingTransactionError}">
            </div>
        </div>
    </div>

    <div class="row pt-5">
        <form method="post" th:action="@{/transaction}" th:object="${transactionDto}">
            <div class="row">


                <div class="col">
                    <div class="form-group">
                        <select class="form-select form-control" id="userId" th:field="*{userId}"
                                th:classappend="${#fields.hasErrors('userId')} ? 'is-invalid' : ''"
                                aria-describedby="userIdFeedback">
                            <option value="0" disabled selected>Sélectionner une relation</option>
                            <option th:each="connection : ${connections}"
                                    th:value="${connection.userId}"
                                    th:text="${connection.userName}"></option>
                        </select>
                        <div id="userIdFeedback"
                             th:classappend="${#fields.hasErrors('userId')} ? 'invalid-feedback'"
                             th:errors="*{userId}"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <input type="text" id="description" th:field="*{description}" class="form-control"
                               th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                               aria-describedby="descriptionFeedback" placeholder="Description">
                        <div id="descriptionFeedback"
                             th:classappend="${#fields.hasErrors('description')} ? 'invalid-feedback'"
                             th:errors="*{description}"></div>
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="number" id="amount" th:field="*{amount}" class="form-control"
                                   th:classappend="${#fields.hasErrors('amount')} ? 'is-invalid' : (${#fields.hasAnyErrors()} ? 'is-valid' : '')"
                                   aria-describedby="amountFeedback" min="0" step="0.01">
                            <div class="input-group-append">
                                <div class="input-group-text">€</div>
                            </div>
                            <div id="amountFeedback"
                                 th:classappend="${#fields.hasErrors('amount')} ? 'invalid-feedback'"
                                 th:errors="*{amount}"></div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-primary text-white">Payer</button>
                </div>


            </div>

        </form>
        <div class="row mt-5 border">

            <table class="table table-hover caption-top">
                <caption><strong>Mes transactions</strong></caption>
                <thead>
                <tr>
                    <th scope="col">Relation</th>
                    <th scope="col">Description</th>
                    <th class="text-end" scope="col">Montant</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction : ${transactions}">
                    <td th:text="${transaction.relationUserName}"></td>
                    <td th:text="${transaction.description}"></td>
                    <td class="text-end" th:classappend="${transaction.debit} ? 'text-danger' : 'text-success'"
                        th:text="${(transaction.debit)? '- ':'+ '} +  ${#numbers.formatDecimal(transaction.amount,1,'DEFAULT',2,'DEFAULT')} + ' €'"></td>
                </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-4">
                    <form method="get" th:action="@{/transaction}" class="d-flex align-items-center">
                        <label for="pageSize" class="me-1">Transactions / page</label>
                        <select class="form-select form-select-sm" id="pageSize" name="pageSize" style="width: auto;"
                                onchange="this.form.submit()">
                            <option th:each="s : ${transactionPerPage}" th:value="${s}" th:text="${s}"
                                    th:selected="${s == pageSize}"></option>
                        </select>

                    </form>
                </div>
                <div class="col-8">
                    <nav aria-label="Pagination" th:if="${totalPages > 0}">

                        <ul class="pagination justify-content-end">

                            <li class="page-item" th:class="${currentPage == 1} ? 'disabled'">
                                <a class="page-link" th:href="@{'/transaction?page=1&pageSize=' + ${pageSize}}"><<</a>
                            </li>

                            <li class="page-item" th:class="${currentPage == 1} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{'/transaction?page=' + ${currentPage - 1} + '&pageSize=' + ${pageSize}}"><</a>
                            </li>

                            <li class="page-item disabled" th:if="${currentPage - 2 > 1}">
                                <a class="page-link" href="#">...</a>
                            </li>

                            <li class="page-item"
                                th:each="page : ${#numbers.sequence((currentPage > 2 ? currentPage - 2 : 1), (currentPage + 2 < totalPages ? currentPage + 2 : totalPages))}"
                                th:classappend="${currentPage == page} ? 'active'">
                                <a class="page-link"
                                   th:href="@{'/transaction?page=' + ${page} + '&pageSize=' + ${pageSize}}"
                                   th:text="${page}"></a>
                            </li>

                            <li class="page-item disabled" th:if="${currentPage + 2 < totalPages}">
                                <a class="page-link" href="#">...</a>
                            </li>

                            <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{'/transaction?page=' + ${currentPage + 1} + '&pageSize=' + ${pageSize}}">></a>
                            </li>

                            <li class="page-item" th:class="${currentPage == totalPages} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{'/transaction?page=' + ${totalPages} + '&pageSize=' + ${pageSize}}">>></a>
                            </li>

                        </ul>

                    </nav>
                </div>
            </div>


        </div>

    </div>
</div>
</body>
</html>